/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: #fff;
    border-color: #E7E7E7;
    height: 46px;
    font-size: 13px;
}

.form-control {
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
}

header { 
	background: url(http://66.media.tumblr.com/fe1e883ce09f96e57fb2e5d748898e65/tumblr_o0958tKyo61uzh6soo1_1280.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
	background-color: #fff;
	width: 100%;
	height: 280px;
	position: relative;
	margin: 0;
	display: block;
}

.navbar2 {
	background-color: #fff;
	height: 60px;
}

#navbar2 {
	background-color: #fff;
	position: relative;
}

body {
	background-color: #f5f8fa;
}

div {
	display: block;
}

div.row.app-content {
	margin-top: 10px;
}

div.col-md-4.tweet-stream.a {
	color: #66757f;
	font-size: 11px;
	letter-spacing: .02em;
	text-transform: uppercase;
}

.navbar-brand {
    float: left;
    padding: 15px 1px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.ProfileAvatar {
	background: #fff;
	border: 5px solid #fff;
	border-radius: 12px;
	box-shadow: 0 1px 1px rgba(136,153,166,0.15);
	height: 200px;
	position: absolute;
	width: 200px;
	z-index: 100;
	padding-left: 80px;
}

.ProfileAvatarImg {
	border-radius: 8px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.sidebar-left {
	margin-top: 120px;
	padding-left: 80px;
}

.navbar3 {
	height: 45px;
	font-size: 18px;
	background-color: #fff;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom: 1px solid transparent;
	border-color: #ddd;
}

.panel {
	min-height: 51px;
}

.panel-body {
	border-bottom: 1px solid transparent;
	border-color: #ddd;
	font-size: 26px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: .01em;
}

.panel-heading {
	background-color: #fff;
}

.SignUp {
	background-color: #e1e8ed;
	border: 1px solid #e1e8ed;
	border-radius: 6px;
	padding: 15px;
}

p.SignUp {
	color: #8899a6;
	font-size: 14px;
	text-align: left;
	display: block;
}

h3 {
    color: #66757f;
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
}	

.btn {
	background-color: #1da1f2;
	border: 0;
	box-shadow: none;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	padding: 11px 16px;
}

.sidebar-right {
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px;
	margin-top: 10px;
}

div.SignUp {
	width: 300px;
}

div.sidebar-right {
	width: 300px;
}

.container-fluid {
	padding: 0;
}

.tweet-stream {
	width: 588px;
	padding-left: 20px;
}

.profile-info {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.col-md-3 {
	padding: 0;
}
