<!DOCTYPE html>
<html>
<head>
  <title>RailsTwitter</title>
  <%= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<header>
	<div class="ProfileAvatar">
		<img class="ProfileAvatarImg" src="http://is4.mzstatic.com/image/thumb/Purple49/v4/7f/03/0c/7f030ca7-449f-e70d-cf09-cf1a4e4d00b1/source/0x0ss-85.png">
	</div>
</header>

<body>
	<nav class="navbar navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="https://twitter.com/">
	      	<img src="https://upload.wikimedia.org/wikipedia/en/archive/9/9f/20161107041729!Twitter_bird_logo_2012.svg" width="23" height="21"></a>
	    </div>
	      <ul class="nav navbar-nav home-nav">
	        <li id="home"><a href="#">Home</a></li>
	        <li><a href="#">Moments</a></li>
	        	



	        	  
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="#">Have an account? Log in</a></li>
	      </ul>
	      <form class="navbar-form navbar-right">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search Twitter">
	        </div>
	      </form>
	  </div>
	</nav>

	

<div class="container-fluid">
	<div class="row container-fluid" id="navbar2">
	  <div class="col-md-3 sidebar-left"></div>
	  <div class="col-md-6">
	  	<div class="tweet-stream">
		  	<nav class="navbar2">
		  	    <ul class="nav navbar-nav">
		  	      <li><a class="tweet-stats" href="#">Tweets</a><span class="tweet-values">496</span></li>
		  	      <li><a class="tweet-stats" href="#">Following</a><span class="tweet-values">4,053</span></li>
		  	      <li><a class="tweet-stats" href="#">Followers</a><span class="tweet-values">6.26M</span></li>
		  	      <li><a class="tweet-stats" href="#">Likes</a><span class="tweet-values">3,042</span></li>
		  	    </ul>
		  	</nav>
	  	</div>
	  </div>
	  <div class="col-md-3 sidebar"></div>
	</div>
 	<div class="row app-content">
 	  <div class="col-md-3 sidebar">
 	  	<div class="sidebar-left">
 	  		<p class="name">Gudetama_Fanpage <img alt="Verified account" src="https://www.tripepismith.com/wp-content/uploads/2015/06/Twitter-checkmark.png" width="17.5" height="18"></p>
 	  		<p>@gudetama</p>
 	  		<p class="profile-info">毎日つぶやくのめんどくさい。だるい。エラい人がやれっていうからやるけど、どーせ食われるだけだし。 サンリオのソーシャルメディアポリシ</p>
 	  	</div>
 	  </div>
 	  <div class="col-md-6">
 	  	<div class="tweet-stream">
	 	  	<nav class="navbar3">
	 	  	    <ul class="nav navbar-nav">
	 	  	      <li><a href="#" data-toggle="modal" data-target="#myModal">Tweets</a></li>
	 	  	      <li><a href="#">Tweets &amp; replies</a></li>
	 	  	      <li><a href="#">Media</a></li>
	 	  	    </ul>
	 	  	</nav>
	 	  	<%= yield %>
 	  	</div>
 	  </div>
 	  <div class="col-md-3 sidebar">
 	  	<div class="SignUp">
 	  		<h3>New to Twitter?</h3>
 	  		<p>Sign up now and get your own personalized timeline!</p>
 	  		<button type="button" class="btn btn-default btn-block">Sign up</button>
 	  	</div>
 	  	<div class="sidebar-right">You may also like</div>
 	  	<div class="sidebar-right">Worldwide Trends</div>
 	  </div>
 	</div>
</div>

<!-- Modal -->
<!--<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

    	Modal content
    	<div class="modal-content">
    	  <div class="modal-header">
    	    <button type="button" class="close" data-dismiss="modal">&times;</button>
    	    <h4 class="modal-title">This link does not work</h4>
    	  </div>
    	  <div class="modal-body">
    	    <p>Some text in the modal.</p>
    	  </div>
    	  <div class="modal-footer">
    	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	  </div>
    	</div>
	</div>
</div> 
-->

</body>

</html>